# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/

# OS / editors
.DS_Store
.vscode/
.idea/

# Data outputs
/data/raw/**
!/data/raw/**/.gitkeep
/dat

# Large data files
data/processed/event_sequences_next_game_points_2025-26_regular_season.parquet
data/processed/possession_sequences_next_game_points_2025-26_regular_season.parqueta/processed/**
!/data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints/

# Environment
.env
